{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>Log In</h2>

    <form action="/login" method="post">

    <input type="text" name="name" placeholder="Name">
    <input type="Password" name="name" placeholder="Password">
    <input type="submit">

    </form>
   <br>
    <br>
    <a href="/signup">Make a new account</a>
    <br>
    <br>
     <a href="/contactus">Contact US</a>

    
</body>
</html> --}}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title >Login</title>
    <style>{
        padding: 4%;
    margin-top: -40%;
    margin-right: -29%;
}
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            text-align: center;
            margin-top: 10%;
        }
        form {
            width: 300px;
            margin-bottom: 20px;
        }
       
        h2 {
            margin-right: -15%;
            margin-top: -30%;
          
        }
        .testingg{
           margin-right: -25%;
        }
        input[type="text"],
        input[type="password"],
        input[type="submit"] {
            width: calc(100% - 20px);
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
            font-size: 16px;
        }
        input[type="submit"] {
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
        }
        input[type="submit"]:hover {
            background-color: #0056b3;
        }
        a {
            margin-bottom: -20%;
            text-decoration: none;
            color: #007bff;
            margin-right: 90px;
            padding-left: -50%;
        }
        a:last-child {
            margin-right: 0;
        }
        
    </style>
</head>

<body >

    <h2>Log In</h2>

    <form class="testingg" action="/login" method="post">

    <input type="text" name="name" placeholder="Name">
    <input type="Password" name="name" placeholder="Password">
    <input type="submit">

    </form>
   <br>
    <br>
    <a href="/signup">Make a new account</a>
    <br>
    <br>
     <a href="/contactus">Contact US</a>

    
</body>
</html>



































{{!-- 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f0f0f0;
        }
        form {
            width: 300px;
            padding: 20px;
            border-radius: 5px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h2 {
            text-align: center;
        }
        input[type="text"],
        input[type="password"],
        input[type="submit"] {
            width: calc(100% - 20px);
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
            font-size: 16px;
        }
        input[type="submit"] {
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
        }
        input[type="submit"]:hover {
            background-color: #0056b3;
        }
        a {
            display: block;
            text-align: center;
            margin-top: 10px;
            text-decoration: none;
            color: #007bff;
        }
    </style>
</head>
<body>

    
       <form action="/login" method="post">

    <input type="text" name="name" placeholder="Name">
    <input type="Password" name="name" placeholder="Password">
    <input type="submit">

    </form>

   
</body>
</html> --}}
